@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply font-poppins;
}


/* Custom scrollbar styling */
.scrollbar-custom::-webkit-scrollbar {
  height: 1px; /* Horizontal scrollbar height */
}

.scrollbar-custom::-webkit-scrollbar-track {
  background: #f0f0f0; /* Light gray track */
  border-radius: 4px;
}

.scrollbar-custom::-webkit-scrollbar-thumb {
  background-color: #f97316; /* Tailwind orange-500 */
  border-radius: 4px;
  border: 2px solid #f0f0f0; /* Creates padding effect */
}

.scrollbar-custom::-webkit-scrollbar-thumb:hover {
  background-color: #ea580c; /* Darker orange on hover */
}

/* Firefox scrollbar */
.scrollbar-custom {
  scrollbar-width: thin;
  scrollbar-color: #f97316 #f0f0f0;
}
